.footer{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7FAFE 36.45%);
}

.footerWrapper {
    margin-bottom: 5px;
}

.formWrapper {
    display: flex;
    justify-content: center;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(227, 237, 248, 0.628651);
    padding: 30px 60px 45px 60px;
    border-radius: 14px;
}

.title {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.319259px;
    color: #132C6A;
    text-align: center;
    margin-top: 30px;
}

.subtitle {
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: -0.211275px;
    color: #051F61;
    text-align: center;
    margin-top: 2px;
}

.inputFields {
    margin-top: 18px;
    background: #F8FCFF;
    border: 1px solid #CAD9E3;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 354px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"]::placeholder {
    font-weight: 300;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: -0.193668px;
    color: #5C5C5C;
}

input[type="text"] {
    background: #F8FCFF;
    border: none;
    margin-left: 20px;
    outline: none;
}

input[type="submit"] {
    background: #0272BC;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.246487px;
    color: #FFFFFF;
    max-width: 106px;
    height: 42px;
    margin-right: 6px;
    cursor: pointer;
}

.contacts {
    font-weight: 300;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: -0.193668px;
    color: #999999;
    align-self: center;
}

.content {
    margin-top: 48px;
    width: 80%;
    /*width: 474px;*/
    display: flex;
    justify-content: space-between;
}

.contentWrapper {
    display: flex;
    justify-content: center;
}

.mailto a{
    text-decoration: none;
    color: #999999;
}

.tel a{
    text-decoration: none;
    color: #999999;
}
